 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Have been working in web development since 2009, started with .NET, but now I'm full stack developer with Ruby on Rails and popular front end frameworks, e.g. AngularJS, Angular2, React/Redux</p>
                </div>
                <div class="col-lg-4">
                    <p>Most of my clients/employer are start up company from around the world, I'm passionate remote worker and has been like that since  2011. Please download my cv for more complete what projects that I've done or involved.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://ge.tt/18aFusw2" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>